<!--
  Generated template for the DetailsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{character.name}}</ion-title>
    <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <img [src]="character.thumbnail.path+'.'+character.thumbnail.extension">
  <p text-justify *ngIf="character.description != ''" padding>
      {{character.description}}
  </p>
  <p text-center *ngIf="character.description == ''" padding>
      Super héroe sin descripción :(
  </p>

  <div>
      <ion-segment [(ngModel)]="info">
        <ion-segment-button value="comics">
          Comics ({{character.comics.returned}}/{{character.comics.available}})
        </ion-segment-button>
        <ion-segment-button value="series">
          Series ({{character.series.returned}}/{{character.series.available}})
        </ion-segment-button>
      </ion-segment>
    </div>


    <div [ngSwitch]="info">
        <ion-list *ngSwitchCase="'comics'" no-lines (swipe)="swipe($event)">
            <ion-item>
                <p text-center>Lista de comics en donde apareció:</p>
            </ion-item>
            <ion-item *ngFor="let c of character.comics.items">
              {{c.name}}
            </ion-item>
        </ion-list>
      
        <ion-list *ngSwitchCase="'series'" no-lines (swipe)="swipe($event)">
            <ion-item>
                <p text-center>Lista de series en donde apareció:</p>
            </ion-item>
            <ion-item *ngFor="let c of character.series.items">
              {{c.name}}
            </ion-item>
        </ion-list>
      </div>

</ion-content>
